.form_container {
  display: flex;
  flex-direction: column;
}

div.input {
  margin-bottom: 24px;
  min-width: 280px;
}

p.input_label {
  color: #233D2C;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
}